################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/hello_C/.vs/hello_C/v16/Browse.VC.opendb
/Sort/基数排序/.vs/基数排序/v16/Browse.VC.opendb
